@font-face {
  font-family: 'BasisGrotesquePro-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/BasisGrotesquePro-Bold.woff');
}

@font-face {
  font-family: 'BasisGrotesque-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/basis-grotesque-medium.otf');
}

@font-face {
  font-family: 'ArnoPro-BoldCaption';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/ArnoPro-BoldCaption.otf');
}

@font-face {
  font-family: 'ArnoPro-Caption';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/ArnoPro-Caption.otf');
}

html, body {
  height:100%;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 97vw;
  float: right;
}

h3 {
  font-family: "BasisGrotesquePro-Bold";
  color: #fff;
  font-size: 1.1875rem;
  margin: 0 0 5% 0;
}

h4 {
  font-family: "BasisGrotesquePro-Bold";
  color: #fff;
  font-size: 0.875rem;
}

.section-title {
  margin: 0 0 1.4% 0;
}

div.result-content h4 {
  color: #F5C123;
}

div.question-wrapper h4 {
  color: #F5C123;
}

div.question-wrapper-underline h4 {
  color: #F5C123;
}

div.question-content h4 {
  color: #F5C123;
}

h5 {
  font-family: "ArnoPro-BoldCaption";
  color: #fff;
  font-size: 1.1875rem;
}

p, blockquote {
  font-family: "ArnoPro-Caption";
  font-size: 1.125rem;
  color: #ffffff;
  line-height: 1.6rem;
}

blockquote {
  border-left: 1px solid #fff;
  margin: 10% 0 10% 8%;
  padding-left: 5%;
  width: 85%;
}

#defaultCanvas0 {
  display: none;
}

div.grid-item:hover {
  cursor: pointer;
}

div::-webkit-scrollbar {
  width: 0.5em;
  background: none;
}

div::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  height:50px;
  border-radius: 6px;
}

div::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
  height:50px;
  border-radius: 6px;
}

div::-webkit-scrollbar-track-piece
{
   display:none;
}

.button {
  margin: 0% 2%;
  font-family: "ArnoPro-Caption";
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  padding: 14px 20px 12px 20px;
  cursor: pointer;
  font-size: 1rem;
  width: 140px;
}

.explore-button {
  font-family: "ArnoPro-Caption";
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  padding: 14px 20px 12px 20px;
  cursor: pointer;
  font-size: 1rem;
  width: auto;
  margin-top: 5%;
}

button:hover{
  background-color: #fff;
  color: #000;
}

/* button {
  margin: 5% 2%;
  font-family: "ArnoPro-Caption";
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #fff;
  width: 140px;
  padding: 14px 20px 12px 20px;
  cursor: pointer;
  font-size: 1rem;
} */

div.survey-buttons .button:hover {
  background-color: #fff;
  color: #000;
}

.content {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: auto 8%;
}

.column-content {
  display: flex;
  flex-direction: column;
  margin: auto 8%;
}

.row {
  flex: 1;
}

/* Navbar */
li {
    list-style:none;
}

ul {
    margin: 0;
}

.main-nav {
    height:3vw;
    position:fixed;
    -webkit-transform-origin: left top;
    -webkit-transform:rotate(-90deg) translateX(-100%);
    z-index: 999;
}

ul.nav {
    width:100vh;
}

ul.nav li {
    float:right;
    line-height:45px;
    width: 20%;
}

ul.nav li a {
    color: #fff;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

ul.nav li a:hover {
    text-decoration: underline;
}

.nav-links {
    font-family: "BasisGrotesquePro-Bold";
    font-size: 0.875rem;
    text-decoration: none;
}

#current-nav {
  background-color: #71131B;
}

.current {
  background-color: #71131B;
}

#about-nav {
  background-color: #6E470C;
}

.about {
  background-color: #6E470C;
}

#process-nav {
  background-color: #12312B;
}

.process {
  background-color: #12312B;
}

#survey-nav {
  background-color: #133075;
}

.survey {
  background-color: #133075;
}

#method-nav {
  background-color: #0033A0;
}

.method {
  background-color: #0033A0;
}

#main {
  display: flex;
  flex-direction: column;
}

#name-wrapper {
  width: 97vw;
  height: 12vh;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3vh;
}

.project-name {
  color: #F5C532;
  font-family: "ArnoPro-BoldCaption";
  font-size: 1.5rem;
}

#project-sub {
  font-family: "ArnoPro-Caption";
}

.current-all {
  background-color: #71131B;
  height:100%;
}

/* /// 0. Intro Page /// */
#intro-container {
  display: flex;
}

#intro-text {
  width: 85%;
  margin: 2% 1%;
}

#intro-para {
  font-size: 1.125rem;
}

.marker-cluster div{
  font-family: "ArnoPro-Caption" !important;
  font-size: 0.875rem !important;
}

.marker-cluster span {
  line-height: 35px !important;
}

.marker-cluster-small{
  background-color: rgba(181,226,140,0) !important;
}

.marker-cluster-small div{
  background-color: rgba(0,0,0,0.9) !important;
  color: #fff;
}

.marker-cluster-medium{
  background-color: rgba(181,226,140,0) !important;
}

.marker-cluster-medium div{
  background-color: rgba(0,0,0,0.9) !important;
  color: #fff;
}

.marker-cluster-large{
  background-color: rgba(181,226,140,0) !important;
}

.marker-cluster-large div{
  background-color: rgba(0,0,0,0.9) !important;
  color: #fff;
}

.beautify-marker.circle {
  border-radius: 0px !important;
}

.beautify-marker {
  margin-top: 1px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400 !important;
  font-family: "ArnoPro-Caption" !important;
}

/* /// 1. Current Data Page /// */
#map {
  width: 95%;
  min-height: 75vh;
  border: 2px solid #000;
  position: relative;
}

#current-wrapper {
  height: 88vh;
}

#table-conatiner {
  height: 100%;
}

.leaflet-popup-close-button {
  display: none;
}

.leaflet-container {
  font-family: "ArnoPro-BoldCaption" !important;
  font-size: 0.875rem !important;
}

.leaflet-popup-content {
  margin: 15px 20px 10px 20px !important;
}

.leaflet-tooltip-pane .text {
  color: #fff;
  background: transparent;
  border: 0;
  box-shadow: none;
}

.leaflet-left {
  margin-left: 90%;
}

.leaflet-top {
  margin-top: 2%;
}

/* List of Schools */
#popup {
  display: none;
}

#popup-container {
  display: flex;
  flex-direction: column;
}

.info {
  font-family: "ArnoPro-BoldCaption";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #F5C532;
  margin-bottom: 5%;
  font-size: 1rem;
}

.school_name {
  width:50%;
}

.tuition {
  width:45%;
  text-align: right;
}

#case-details {
  height: 65vh;
  overflow: scroll;
  font-family: "ArnoPro-Caption";
  color: #fff;
  display: block;
  padding: 3% 5% 5% 5%;
}

#popup-title {
  margin: 5% 5% 0% 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fa-window-close {
  font-size: 1.25rem;
  margin: auto 0;
}

.one-case {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

hr {
  border: 1px solid #000;
  margin: 3% auto;
}

#schools {
  display: block;
  height: 88vh;
}

#grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  overflow: scroll;
  height: 84.5vh;
}

.grid-item {
  position: relative;
  border: 2px solid #000;
  text-align: center;
}

.images:hover ~ .grid-label, .images:hover ~ .count{
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.grid-label {
  background-color: #fff;
  border-top-style: solid;
  border-width: 2px;
  z-index: 3;
  height: 3.5rem;
  font-size: 0.9375rem;
  padding: 8px 12px 0px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-title {
  font-family: "ArnoPro-BoldCaption";
  line-height: 1rem;
}

.grid-cases{
  font-family: "ArnoPro-Caption";
}

#table-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.images {
  z-index: 0;
  height: 200px;
  overflow: hidden;
}

.grid-image {
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: none;
}

.count {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: calc(2.25rem - 2px);
  height: calc(2.25rem - 2px);
  border-width: 2px;
  border-right-style: solid;
  border-bottom-style: solid;
  background-color: #fff;
}

.slider-contianer {
  position: relative;
}

.slider-button {
  width: 1.5rem;
  height:3rem;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  color: #000;
}

.slider-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}


.slider-icon {
  font-family: "ArnoPro-BoldCaption";
  font-size: 1rem;
}

.sliderL {
  position: absolute;
  top: 32%;
  left: 0;
}

.sliderR {
  position: absolute;
  top: 32%;
  right: 0;
}

#close {
  font-family: "BasisGrotesquePro-Bold";
  color: #fff;
  cursor: pointer;
}

#close:hover{
  color: #000;
}

/* /// 2. About Title IX Page /// */
#twitter-container {
  display: flex;
  align-items: center;
  height: 6vh;
  width: 97vw;
  right: 0;
  border-top: 2px solid #111;
  background-color: #111;
  position: fixed;
  bottom: 0;
}

#latest-tweets {
  display: flex;
  align-items: center;
  height: 6vh;
  width: 10vw;
  padding: 0 10% 0 4%;
  background-color: #111;
  overflow: hidden;
  white-space: nowrap;
  z-index: 3;
}

#latest-tweets h4 {
  color: #F5C532;
}

.marquee {
  overflow: visible;
  white-space: nowrap;
  border: none;
  width: 87vw;
  float: right;
}

div#tweets a:link{
  font-family: "BasisGrotesque-Medium";
  font-size: 0.8125rem;
  color: #fff;
}

div#tweets a:hover{
  color: #F5C532;
}

div#tweets a:visited{
  color: #fff;
}

.js-marquee-wrapper{
  transform: translateX(100px)!important;
}

.one-tweet {
  padding: 0% 4vw;
}

.about-text {
 width: 90%;
 margin-bottom: 15%;
}

/* /// 3. Resources Page /// */
#text-container {
  /* height: 88vh; */
}

.accordion {
  background-color: #12312B;
  font-family: "BasisGrotesquePro-Bold";
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  padding: 5% 0%;
  width: 90%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #12312B;
}

.accordion:after {
  content: '\002B';
  color: #fff;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.process-text {
  background-color: #12312B;
  padding-right:12%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-bottom: 2px solid #000;
}

#process-graph-container {
  border-left: 2px solid #000;
}

#process-graph {
  width:90%;
}

#process-img {
  width:100%;
}

/* /// 4. Survey Page /// */
.survey-wrapper {
  display: flex;
  flex-direction: column;
  height: 76vh;
  width:100%;
}

.highlight {
  font-family: "BasisGrotesquePro-Bold";
  color: #F5C123;
  font-size: 1rem;
}

.text-content{
  width: 90%;
}

.stat-image{
  width: 90%;
  margin-bottom: 5%;
}

.survey-intro {
  display: flex;
  flex-direction: row;
  height: 80vh;
  justify-content: space-between;
}

.footer {
  margin-top: 8%;
}

.footnote {
  font-family: "BasisGrotesque-Medium";
  font-size: 0.75rem;
  line-height: 1rem;
}

/* Survey Components */
#survey-height{
  height: 85vh;
}

#survey-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #022C52;
  text-align: center;
}

.row2{
  flex: 1;
}

.question-content{
  width:80%;
}

.question-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #022C52;
  padding: 3%;
  height: 70vh;
}

.question-wrapper-underline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #022C52;
  padding: 4%;
  padding: 3% 5%;
  border-bottom: 2px solid #000;
}

.last-question {
  width: 81vw;
}

.question {
  width: 70%;
}

.question-text {
  font-family: "ArnoPro-BoldCaption";
  color: #fff;
  font-size: 1.375rem;
  line-height: 1.5;
}

.eg {
  font-family: "ArnoPro-Caption";
  font-size: 1.125rem;
  line-height: 1;
}

.survey-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selected {
  background-color: #F5C123;
  border-color: #F5C123;
  color: #000;
}

.input {
  width: 81vw;
}

#textbox {
  height: 20vh;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: #fff;
  font-family: "BasisGrotesque-Medium";
  font-size: 1rem;
  padding: 1rem;
  line-height: 1.5;
  overflow: auto;
}

#submit {
  margin:0;
  width: 200px;
}


.result {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  font-family: "ArnoPro-Caption";
  font-size: 1.125rem;
  margin-right: 10px;
  color: #fff;
  width: 40px;
  text-align: left;
}

.label2 {
  font-family: "ArnoPro-Caption";
  font-size: 1.125rem;
  margin-right: 10px;
  color: #fff;
  width: 60px;
  text-align: left;
}

.rect {
  width: 400px;
  height: 40px;
  left: 0;
  background-color: #F5C123;
}

.ans3 {
  font-family: "BasisGrotesque-Medium";
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
}

#q3-results {
  display: flex;
  flex-direction: column;
  width: 65vw;
  height: 20vh;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2% 0 2% 0;
  overflow: scroll;
}

/* Display & Hide Survey */
#all-questions {
  display: none;
}
#q1-container {
  display: none;
}

#q2-container {
  display: none;
}

#q3-container {
  display: none;
}

#visualize {
  display: none;
}


/* /// 5. Methods Page /// */
#methods-1 {
  width: 46%;
}

.section {
  margin-bottom: 2%;
}

.section2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid #000;
}

.section2-para {
  width: 46%;
  margin: 2% 0 2% 0;
}

#methods-3 {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  padding: 2% 0 2% 0%;
}

div.method-3-content p{
  margin-left: 3rem;
  text-indent: -3rem;
}

.method-3-content{
  width: 90%;
}

#methods-4{
  margin-bottom: 5%;
}

.hyperlink{
  border-bottom: 1px dashed #fff;
  text-decoration: none;
  color: #fff;
}

.hyperlink:hover{
  color: #000;
  border-bottom: 1px dashed #000;
}

.hyperlink:visited{
  color: #fff;
}
