body {
  margin: 0;
  padding: 0;
}

main {
  margin-top: 5%;
}

h2{
  font-size: 1.25em;
}

#defaultCanvas0 {
  display: none;
}

#container{
  display: flex;
  flex-direction: row;
}

#map-container{
  padding-right: 3px;
  position: relative;
  border-right: 2px solid #000;
}

#table-container{

}

.row{
  flex:1;
}

/* Navbar */
.navbar {
  border-bottom: 2px solid #000;
  background-color: #c2c2c2;
  position: fixed;
  z-index: 999;
  width: 100vw;
  top: 0;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: #000;
}

.main-nav li {
  font-size: 1.0625rem;
  text-align: center;
}

.logo {
  display: inline-block;
  font-size: 1.25rem;
  /* margin-top: 10px; */
  margin-left: 5%;
}

#title-bold{
  font-weight: bold;
}

.navbar-toggle {
  position: absolute;
  /* top: 10px; */
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

#chkToggle {
  display: none;
}

#chkToggle:checked + ul.main-nav {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 4rem;
    align-items: center;
  }

  #chkToggle:checked + ul.main-nav {
    display: flex;
  }

  .main-nav {
    display: flex;
    margin-right: 5%;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: red;
  }
}


/* Map */
#map {
  width: 50%;
  /* height: 1200px; */
  min-height: 100vh;
  position: fixed;
}

.leaflet-popup-close-button {
   display: none;
}

.leaflet-tooltip-pane .text {
  color: #FFF;
  background: transparent;
  border:0;
  box-shadow: none;
}

.marker-cluster div{
  border-radius: 0px;
}

.leaflet-left{
  margin-left: 90%;
}

.leaflet-top{
  margin-top: 2%;
}

/* List of Schools */
/* :root {
  --grid-cols: 1;
  --grid-rows: 1;
} */
#popup {
  display: none;
  padding: 5%;
}

#schools {
  display: block;
}

#grid {
  padding: 0% 5% 5% 5%;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: auto auto;
  /* grid-template-columns: 200px 200px; */
    /* grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr); */
}

.grid-item {
  position: relative;
  border: 2px solid #000;
  text-align: center;
}

.overlay {
  top: 0;
  left: 0;
  opacity: 1;
  background-color: #666;
}

.grid-item:hover .overlay {
  opacity: 1;
}

.grid-title {
  background-color: #fff;
  border-top-style: solid;
  border-width: 2px;
  z-index: 3;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 5% 2% 5%;
}

#table-title {
  display: flex;
  flex-direction: row;
  margin:4% 5% 2% 5%;
  justify-content: space-between;
}

.images{
  z-index: 0;
}

.grid-image {
  width: 200px;
  height: 200px;
  display: none;
}

.count {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: calc(3rem - 2px);
  height: calc(3rem - 2px);
  border-width: 2px;
  border-right-style: solid;
  border-bottom-style: solid;
  background-color: #fff;
}

.slider-contianer {
  position: relative;
}

.sliders {

}

.slider-button {
  background: none;
  border: none;
  font-size: 1.4rem;
  color: #333;
}

.sliderL {
  position: absolute;
  top: 40%;
  left: 0;
}

.sliderR {
  position: absolute;
  top: 40%;
  right: 0;
}
