@font-face {
  font-family: 'BasisGrotesquePro-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/BasisGrotesquePro-Bold.woff');
}

@font-face {
  font-family: 'ArnoPro-BoldCaption';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/ArnoPro-BoldCaption.otf');
}

@font-face {
  font-family: 'ArnoPro-Caption';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/ArnoPro-Caption.otf');
}

html, body {
  height:100%;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 97vw;
  float: right;
}

h3 {
  font-family: "BasisGrotesquePro-Bold";
  color: #fff;
  font-size: 1.1875rem;
  margin-bottom: 5%;
}

h4 {
  font-family: "BasisGrotesquePro-Bold";
  color: #fff;
  font-size: 0.875rem;
  margin: 5px 2px 6px 3px;
}

h5 {
  font-family: "ArnoPro-BoldCaption";
  color: #fff;
  font-size: 1.1875rem;
}

p {
  font-family: "ArnoPro-Caption";
  font-size: 1.0625rem;
  color: #ffffff;
  line-height: 1.6;
}

#defaultCanvas0 {
  display: none;
}

.button {
  margin-top: 5%;
  font-family: "ArnoPro-Caption";
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  padding: 14px 20px 12px 20px;
  cursor: pointer;
  font-size: 1rem;
}

.button:hover{
  background-color: #fff;
  color: #000;
}

.content {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: auto 4%;
}

#column-container {
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
}

/* Navbar */
li {
    list-style:none;
}

ul {
    margin: 0;
}

.main-nav {
    height:3vw;
    position:fixed;
    -webkit-transform-origin: left top;
    -webkit-transform:rotate(-90deg) translateX(-100%);
    z-index: 999;
}

ul.nav {
    width:100vh;
}

ul.nav li {
    float:right;
    line-height:45px;
    width: 20%;
}

ul.nav li a {
    color: #fff;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

ul.nav li a:hover {
    text-decoration: underline;
}

.nav-links {
    font-family: "BasisGrotesquePro-Bold";
    font-size: 0.875rem;
    text-decoration: none;
}

#current-nav {
  background-color: #71131B;
}

.current {
  background-color: #71131B;
}

#about-nav {
  background-color: #82540F;
}

.about {
  background-color: #82540F;
}

#process-nav {
  background-color: #12312B;
}

.process {
  background-color: #12312B;
}

#survey-nav {
  background-color: #133075;
}

.survey {
  background-color: #133075;
}

#method-nav {
  background-color: #0033A0;
}

.method {
  background-color: #0033A0;
}

#main {
  display: flex;
  flex-direction: column;
}

#name-wrapper {
  width: 97vw;
  height: 12vh;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-name {
  color: #F5C532;
  font-family: "ArnoPro-BoldCaption";
  font-size: 1.5rem;
}

#project-sub {
  font-family: "ArnoPro-Caption";
}

.current-all {
  background-color: #71131B;
  height:100%;
}

/* /// 0. Intro Page /// */
#intro-container {
  display: flex;
}

#intro-text {
  width: 85%;
  margin: 20% 5% 5% 5%;
}

#intro-para {
  font-size: 1.1875rem;
}

.marker-cluster div{
  font-family: "ArnoPro-Caption" !important;
  font-size: 0.875rem !important;
}

.marker-cluster span {
  line-height: 35px !important;
}

.marker-cluster-small{
  background-color: rgba(181,226,140,0) !important;
}

.marker-cluster-small div{
  background-color: rgba(0,0,0,0.9) !important;
  color: #fff;
}

.marker-cluster-medium{
  background-color: rgba(181,226,140,0) !important;
}

.marker-cluster-medium div{
  background-color: rgba(0,0,0,0.9) !important;
  color: #fff;
}

.marker-cluster-large{
  background-color: rgba(181,226,140,0) !important;
}

.marker-cluster-large div{
  background-color: rgba(0,0,0,0.9) !important;
  color: #fff;
}

.beautify-marker.circle {
  border-radius: 0px !important;
}

.beautify-marker {
  margin-top: 1px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400 !important;
  font-family: "ArnoPro-Caption" !important;
}

/* /// 1. Current Data Page /// */
#map {
  width: 95%;
  min-height: 81vh;
  border: 2px solid #000;
  position: relative;
}

#current-wrapper {
  height: 88vh;
}

#table-conatiner {
  height: 100%;
}

.leaflet-popup-close-button {
  display: none;
}

.leaflet-container {
  font-family: "ArnoPro-Caption" !important;
  font-size: 0.75rem !important;
}

.leaflet-popup-content {
  margin: 15px 20px 10px 20px !important;
}

.leaflet-tooltip-pane .text {
  color: #fff;
  background: transparent;
  border: 0;
  box-shadow: none;
}

.leaflet-left {
  margin-left: 90%;
}

.leaflet-top {
  margin-top: 2%;
}

/* List of Schools */
#popup {
  display: none;
}

#popup-container {
  display: flex;
  flex-direction: column;
}

#case-details {
  display: block;
  padding: 5%;
}

#popup-title {
  margin: 5% 5% 0% 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fa-window-close {
  font-size: 1.25rem;
  margin: auto 0;
}

.one-case {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

hr {
  border: 1px solid #000;
  margin: 3% auto;
}

#schools {
  display: block;
  height: 88vh;
}

#grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  overflow: scroll;
  height: 84.3vh;
}

.grid-item {
  position: relative;
  border: 2px solid #000;
  text-align: center;
}

.overlay {
  top: 0;
  left: 0;
  opacity: 1;
  background-color: #666;
}

.grid-item:hover .overlay {
  opacity: 1;
}

.grid-title {
  font-size: 0.875rem;
  background-color: #fff;
  border-top-style: solid;
  border-width: 2px;
  z-index: 3;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 5% 2% 5%;
}

#table-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.images {
  z-index: 0;
  height: 200px;
  overflow: hidden;
}

.grid-image {
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: none;
}

.count {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: calc(2.25rem - 2px);
  height: calc(2.25rem - 2px);
  border-width: 2px;
  border-right-style: solid;
  border-bottom-style: solid;
  background-color: #fff;
}

.slider-contianer {
  position: relative;
}

.sliders {}

.slider-button {
  background: none;
  border: none;
  font-size: 1.4rem;
  color: #333;
}

.sliderL {
  position: absolute;
  top: 40%;
  left: 0;
}

.sliderR {
  position: absolute;
  top: 40%;
  right: 0;
}

/* /// 2. About Title IX Page /// */
#twitter-container {
  display: flex;
  align-items: center;
  height: 6vh;
  width: 97vw;
  right: 0;
  border-top: 2px solid #000;
  background-color: #82540F;
  position: fixed;
  bottom: 0;
}

#latest-tweets {
  display: flex;
  align-items: center;
  height: 6vh;
  width: 10vw;
  padding: 0 10% 0 2%;
  background-color: #82540F;
  overflow: hidden;
  white-space: nowrap;
  z-index: 3;
}

.marquee {
  overflow: visible;
  white-space: nowrap;
  border: none;
}

div#tweets a:link{
  font-family: "BasisGrotesquePro-Bold";
  font-size: 0.8125rem;
  color: #fff;
}

div#tweets a:hover{
  color: #000;
}

div#tweets a:visited{
  color: #000;
}

.js-marquee-wrapper{
  transform: translateX(100px)!important;
}

.one-tweet {
  padding: 0% 0.5%;
}

.about-text {
  width: 96%;
}

/* /// 3. Resources Page /// */
#text-container {
  height: 100vh;
  background-color: #eee;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 5%10%;
  width: 100%;
  border-bottom: 2px solid #000;
  text-align: left;
  outline: none;
  font-size: 1.25em;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.process-text {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#process-graph-container {
  border-left: 2px solid #000;
}

#process-graph {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#process-img {
  width: 70%;
}

/* /// 4. Survey Page /// */
#aau-container{
  height: 100vh;
}

#start-survey-container {
   height: 100vh;
   border-left: 2px solid #000;
}

.text-content{
  padding: 5% 10% 5% 10%;
}

.stat-image{
  width: 100%;
  margin-bottom: 5%;
}

/* Survey Components */

.survey {
  padding: 2% 5% 5% 5%;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #000;
}

.question-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.question {
  width: 50vw;
  margin-right: 10vw;
}

.survey-buttons {

}

.selected {
  color: red;
}

#submit {
  margin: 5%;
  width: 20vw;
}

.result {
  display: flex;
  flex-direction: row;
}

.label {
  width: 50px;
}

.rect {
  width: 100px;
  height: 30px;
  margin: 5% 0;
  left: 0;
  background-color: #333;
}

/* /// 5. Methods Page /// */
#methods-1 {
  width: 46%;
}

.section {
  margin-bottom: 2%;
}

.section2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid #000;
}

.section2-para {
  width: 46%;
  margin-top: 2%;
}

#methods-3 {
  border-bottom: 2px solid #000;
  margin-bottom: 2%;
}

#methods-4{
  margin-bottom: 5%;
}

.hyperlink{
  border-bottom: 1px dashed #fff;
  text-decoration: none;
}

.hyperlink:hover{
  color: #000;
  border-bottom: 1px dashed #000;
}

.hyperlink:visited{
  color: #fff;
}
